@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --linear: linear-gradient(90deg, #1cc34b, #0057ff);
  --scrollbar: linear-gradient(120deg, #1cc34b, #0057ff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
}
::-webkit-scrollbar-thumb:hover {
  background: #1cc34b;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body {
  background: #f7f7f8;
  padding-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 1220px) {
  .container {
    padding: 0;
  }
  body {
    padding-bottom: 120px;
  }
}

/* full image */
.full__image span {
  width: 100% !important;
  height: 100% !important;
}
.full__image img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

/* linear */
.linear {
  background: var(--linear);
}
.linear-hover {
  transition: background 0.3s linear;
}
.linear-hover:hover {
  background: var(--linear);
}

/* footer active */
.footer__active {
  color: var(--linear);
}
.footer__active::after {
  content: "";
  width: 30px;
  height: 5px;
  border-radius: 12px;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--linear);
}
.footer__active span svg path {
  fill: #242424;
}
/* Hide scrollbar */
.scroll__none {
  scrollbar-width: 0;
}
.scroll__none::-webkit-scrollbar {
  display: none;
  width: 0;
}

.rule span {
  color: #1cc34b;
  font-weight: 600;
  cursor: pointer;
}

/* Input box styling */
.input__box {
  position: relative;
}

.input__box label {
  opacity: 0;
  position: absolute;
  top: -7px;
  left: 20px;
  transition: opacity 0.3s ease;
  color: #1cc34b;
}

.input__box input:focus {
  outline-color: #1cc34b;
}

.input__box input:focus + label,
.input__box input:not(:placeholder-shown) + label {
  opacity: 1;
}

.input__box input:focus::placeholder {
  opacity: 0;
}

/* Custom Checkbox */
.custom-checkbox {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.custom-checkbox input {
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
}

.custom-checkbox input + span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #242424;
  border-radius: 4px;
  opacity: 0.5;
  overflow: hidden;
}

.custom-checkbox input:checked + span {
  background: #1cc34b;
  transition: opacity 0.3s linear;
  opacity: 1;
  border-color: transparent;
}

/* modal */
.modal {
  align-items: flex-start;
}
@media screen and (min-height: 600px) {
  .modal {
    align-items: center;
  }
}

/* swiper pagination */
.slider__modal .swiper-horizontal > .swiper-pagination-bullets,
.slider__modal .swiper-pagination-bullets.swiper-pagination-horizontal,
.slider__modal .swiper-pagination-custom,
.slider__modal .swiper-pagination-fraction {
  bottom: 100px;
}
.slider__modal .swiper-pagination-bullet {
  width: 30px;
  height: 8px;
  border-radius: 20px;
  background-color: #666565;
  opacity: 0.5;
  backdrop-filter: blur(30px) !important;
  transition: background 0.3s linear;
}
.slider__modal .swiper-pagination-bullet-active {
  background: var(--linear);
  opacity: 1;
  transition: background 0.3s linear;
}
.slider__modal.ads .swiper-horizontal > .swiper-pagination-bullets,
.slider__modal.ads .swiper-pagination-bullets.swiper-pagination-horizontal,
.slider__modal.ads .swiper-pagination-custom,
.slider__modal.ads .swiper-pagination-fraction {
  bottom: 100px;
}

.maps .ymaps-2-1-79-map {
  position: absolute !important;
  top: 0 !important;
  left: 0;
  width: 100%;
  height: 100%;
}

@layer utilities {
  /* Chrome, Safari, Edge */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}